.eggs
*.egg-info
build
dist
*.pyc
.vscode
.venv
.mypy_cache
.hypothesis
obj
docs/extensions
.ipynb_checkpoints
pytket/extensions/braket/_metadata.py
.venv
.DS_Store
docs/pyproject.toml
docs/poetry.lock
